<!-- saved from url=(0075)http://lms.myclass.vn/pluginfile.php/12538/mod_lesson/intro/bookTicket.html -->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <style>
      #resetpw {
        width: 40%;
        min-width: 600px;
        max-width: 700px;
        margin: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        padding: 40px;
        background-color: #f8f8f8;
      }
      div {
        box-sizing: border-box;
      }
      header a {
        float: right;
        margin-top: 10px;
        text-decoration: none;
        color: #b5d3ed;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
      }
      .main {
        margin-top: 30px;
        background-color: #ffffff;
        border-radius: 14px 14px 40px 14px;
      }
      .main img {
        width: 100%;
      }
      .main p {
        margin: 8px 0;
        line-height: 170%;
        font-size: 14px;
        color: #3c3b3b;
      }
      .main .info {
        padding: 20px 40px 30px;
      }

      .main .info h1 {
        width: 488px;
        height: 120px;
        left: 56px;
        top: 132px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 52px;
        line-height: 116%;
        letter-spacing: -0.016em;
        color: #070d14;
      }

      .main .info__thanks {
        color: #3c3b3b;
        margin-top: 20px;
      }
      .main .info__link {
        color: #07a7c1;
        width: 100%;
        padding: 10px 15px;
        background-color: #f3fcfe;
        display: block;
        box-sizing: border-box;
        font-weight: 500;
      }

      .main .info__contact {
        border-top: 1px solid #f0f3f8;
        padding-top: 25px;
        margin-top: 25px;
      }
      .main .info__button {
        width: 488px;
        height: 20px;
        left: 56px;
        top: 376px;
        color: #b5d3ed;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 144%;
        /* or 20px */
        letter-spacing: -0.012em;
        text-decoration-line: underline;
      }
      .main .info__button:focus {
        outline: none;
      }

      footer p {
        color: #727070;
        font-size: 12px;
        text-align: center;
        margin: 5px 0;
      }
      footer {
        margin-top: 20px;
      }
      footer div {
        display: flex;
        margin: auto;
        width: fit-content;
      }
      footer div a {
        margin: 5px;
        color: #727070 !important;
        font-size: 12px;
        cursor: pointer;
      }

      .password {
        width: 95px;
        height: 28px;
        left: 12px;
        top: 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 156%;
        letter-spacing: -0.012em;
        color: #262525;
        padding: 10px;
        background-color: #ebebeb;
        margin-right: 15px;
      }
      .info a {
        color: #b5d3ed;
      }

      #visit {
        position: static;
        width: 92px;
        height: 20px;
        left: 24px;
        top: 0px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 144%;
        letter-spacing: -0.012em;
        color: #b5d3ed;
        flex: none;
        order: 1;
        align-self: center;
        margin: 8px 0px;
        text-decoration: none;
      }

      @media screen and (max-width: 575px) {
        html {
          font-size: 40%;
        }
        #resetpw {
          width: 100%;
          min-width: unset;
          padding: 20px 0;
        }
        .resetpw {
          padding: 0;
        }
        header {
          padding: 0 15px;
        }
      }
    </style>
  </head>
  <body>
    <div id="resetpw">
      <div class="resetpw">
        <header>
          <img style="height: 60px;" src="https://vico.com/api/uploads/logo-midom.png" alt="logo" />
          <a style="color: #B5D3ED;" href="https://vico.com" target="blank">
            > Visit website
          </a>
        </header>
        <div class="main">
          <div class="info">
            <h1>
              Chào mừng đến với Vico
            </h1>
            <p>
              Xin chào <%=contactName %>,
            </p>
            <p>
              Tài khoản của Anh/chị tại
              <a class="info__button" href="https://vico.com" target="_blank">vico.com</a>
              vừa được kích hoạt
            </p>
            <p>
              Thông tin đăng nhập:
            </p>
            <p>Email đăng nhập: <span style="color: #B5D3ED;"><%=contactEmail %></span></p>
            <p>
              Mật khẩu:
            </p>
            <div>
              <span class="password">
                <%=description %>
              </span>
              <a id="visit" href="https://vico.com" target="blank">
                > Visit website
              </a>
            </div>
            <p>
              Đăng nhập trải nghiệm cùng chúng tôi
            </p>
            <div class="info__thanks">
              <p>
                Thân ái,
              </p>
              <p>
                Vico.
              </p>
            </div>
          </div>
        </div>
        <footer>
          <p>
            Sent from Midom
          </p>
          <p>
            Số điện thoại: 1900 066 692
          </p>
          <p>
            Website: https://vico.com
          </p>
          <p>
            Cửa hàng: 25 Nguyễn Văn Thủ, Phường Đa Kao, Quận 1, TP. Hồ Chí Minh
          </p>
          <div>
            <a href="https://vico.com" target="blank">View in browser</a>
            <a href="https://vico.com" target="blank">Unsubscribe</a>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
